/* Contador*/
#mostrador {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    box-shadow: 15px 15px 45px -5px gray;
    margin-top: 50px;
    margin-left: 50px;
    background: linear-gradient(to bottom, #fbfbfb, #c9c9c9);
    border-radius: 8%;
    max-width: 300px;
    height: 300px;
    text-align: center;
    overflow: hidden;
  }
  
  #contador {
    position: relative;
    flex-direction: column;
    text-align: center;
    line-height: 3;
    font-size: 65px;
    font-weight: bold;
    margin-right: -130px;
  }
  
  #botao {
    position: relative;
    border: none;
    background: linear-gradient(to right, #dddddd, #b3b3b3);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    width: 120px;
    height: 55px;
    border-radius: 10px;
    margin-top: 200px;
  }
  
  .verde {
    color: green;
  }
  
  .amarelo {
    color: yellow;
  }
  
  .vermelho {
    color: red;
  }
  
  #sorted {
    padding-left: 80px;
  }
  
  /*Sorteio*/
  #tela {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    box-shadow: 15px 15px 45px -5px gray;
    margin-top: 50px;
    margin-left: 50px;
    background: linear-gradient(to bottom, #fbfbfb, #c9c9c9);
    border-radius: 8%;
    max-width: 350px;
    height: 550px;
    text-align: center;
    overflow: hidden;
  }
  
  #sorted {
    line-height: 0;
    padding-left: 0px;
    margin: 10px 0 70px 0;
    margin-bottom: 15px;
    font-size: 100px;
  }
  
  #n1 {
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #dddddd, #b3b3b3);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    width: 270px;
    height: 15%;
    margin: 70px 0 15px 0;
  }
  
  #n2 {
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #dddddd, #b3b3b3);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    width: 270px;
    height: 15%;
    margin: 0 0 25px 0;
  }
  
  #sort {
    flex-direction: flex-end;
    position: relative;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #dddddd, #b3b3b3);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 20px;
    width: 170px;
    height: 10%;
    margin: 0 0 0 0;
  }
  
  /*Slide*/
  
  #slide {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 15px 15px 45px -5px gray;
    margin-top: 50px;
    margin-left: 50px;
    background: linear-gradient(to bottom, #fbfbfb, #c9c9c9);
    border-radius: 8%;
    max-width: 650px;
    height: 420px;
    text-align: center;
    overflow: hidden;
    padding: 20px 20px 20px 20px;
  }
  
  #imagem {
    padding: 0 0 15px 0;
    border-radius: 20px;
    width: 50px;
    height: 50px;
  }
  


  #btnBw {
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #dddddd, #b3b3b3);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    width: 135px;
    height: 45px;
    margin: 0 0 10px 0;
  }
  
  #btnFw {
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #dddddd, #b3b3b3);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    width: 135px;
    height: 45px;
    margin: 0 0 10px 0;
  }
  
  /*Conversor*/
  
  #temp {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    box-shadow: 15px 15px 45px -5px gray;
    margin-top: 50px;
    margin-left: 50px;
    background: linear-gradient(180deg, #f0f0f0, #b7b7b7);
    border-radius: 8%;
    max-width: 600px;
    height: 500px;
    text-align: center;
    overflow: hidden;
  }
  
  #celsius {
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, #f0f0f0, #b7b7b7);
    box-shadow: 20px 15px 20px 0px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    text-indent: 10px;
    width: 270px;
    height: 70px;
    margin: 0 0 15px 0;
  }
  
  #cel {
    font-size: 34px;
  }
  
  #fahrenheit {
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, #f0f0f0, #b7b7b7);
    box-shadow: 20px 15px 20px 0px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    text-indent: 10px;
    width: 270px;
    height: 70px;
    margin: 0 0 15px 0;
  }
  
  #fah {
    font-size: 34px;
  }
  
  #kelvin {
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, #f0f0f0, #b7b7b7);
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    text-indent: 10px;
    width: 270px;
    height: 70px;
    margin: 0 0 15px 0;
  }
  
  #kel {
    font-size: 34px;
  }